{% import "macros.html" as macros %}
{% extends "common/base.html" %}

{% block static %}

    {{ super() }}
    <!-- Plugins css-->
    <link href="{{ url_for("static", filename="assets/tagsinput/jquery.tagsinput.css") }}" rel="stylesheet"/>
    <link href="{{ url_for("static", filename="assets/toggles/toggles.css") }}" rel="stylesheet"/>
    <link href="{{ url_for("static", filename="assets/timepicker/bootstrap-timepicker.min.css") }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename="assets/timepicker/bootstrap-datepicker.min.css") }}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for("static", filename="assets/colorpicker/colorpicker.css") }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename="assets/jquery-multi-select/multi-select.css") }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/select2/select2.css') }}"/>

{% endblock static %}

{% block page_content %}
    <!-- Page Content Start -->
    <!-- ================== -->

    <div class="wraper container-fluid">
        <div class="page-title">
            <h3 class="title">修改设备</h3>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">资产信息</h3></div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" action="{{ url_for('main.edit_deviceAsset' ,id=deviceAsset.id) }}"
                              method="POST">
                            {{ form.csrf_token }}
                            <div class="form-group">
                                <label class="col-md-2 control-label">资产类型</label>

                                <div class="col-md-6">
                                    {{ form.classType_id(class='select2', placeholder='资产类型') }}
                                    {{ macros.print_form_messages(form.errors.classType_id) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">AN号</label>

                                <div class="col-md-6">
                                    {{ form.an(class='form-control', placeholder='AN号') }}
                                    {{ macros.print_form_messages(form.errors.an) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">SN号</label>

                                <div class="col-md-6">
                                    {{ form.sn(class='form-control', placeholder='SN号') }}
                                    {{ macros.print_form_messages(form.errors.sn) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">使用状态</label>

                                <div class="col-md-6">
                                    {{ form.onstatus(class='select2', placeholder='使用状态') }}
                                    {{ macros.print_form_messages(form.errors.onstatus) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">生产时间</label>

                                <div class="col-md-6">
                                    {{ form.dateofmanufacture(class='form-control', placeholder='生产时间') }}
                                    {{ macros.print_form_messages(form.errors.dateofmanufacture) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">生产商</label>

                                <div class="col-md-6">
                                    {{ form.manufacturer(class='form-control', placeholder='生产商') }}
                                    {{ macros.print_form_messages(form.errors.manufacturer) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">品牌</label>

                                <div class="col-md-6">
                                    {{ form.brand(class='form-control', placeholder='品牌') }}
                                    {{ macros.print_form_messages(form.errors.brand) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">型号</label>

                                <div class="col-md-6">
                                    {{ form.model(class='form-control', placeholder='型号') }}
                                    {{ macros.print_form_messages(form.errors.model) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">使用部门</label>

                                <div class="col-md-6">
                                    {{ form.usedept(type="text", class='form-control', placeholder='使用部门') }}
                                    {{ macros.print_form_messages(form.errors.usedept) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">部门使用人</label>

                                <div class="col-md-6">
                                    {{ form.usestaff(type="text", class='form-control', placeholder='部门使用人') }}
                                    {{ macros.print_form_messages(form.errors.usestaff) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">主要用途</label>

                                <div class="col-md-6">
                                    {{ form.mainuses(type="text", class='form-control', placeholder='主要用途') }}
                                    {{ macros.print_form_messages(form.errors.mainuses) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">管理部门</label>

                                <div class="col-md-6">
                                    {{ form.managedept(type="text", class='form-control', placeholder='管理部门') }}
                                    {{ macros.print_form_messages(form.errors.managedept) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">管理人</label>

                                <div class="col-md-6">
                                    {{ form.managestaff(type="text", class='form-control', placeholder='管理人') }}
                                    {{ macros.print_form_messages(form.errors.managestaff) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">维保开始时间</label>

                                <div class="col-md-6">
                                    {{ form.koriyasustarttime(type="text", class='form-control', placeholder='维保开始时间') }}
                                    {{ macros.print_form_messages(form.errors.koriyasustarttime) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">维保结束时间</label>

                                <div class="col-md-6">
                                    {{ form.koriyasuendtime(type="text", class='form-control', placeholder='维保结束时间') }}
                                    {{ macros.print_form_messages(form.errors.koriyasuendtime) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">设备价格</label>

                                <div class="col-md-6">
                                    {{ form.equipprice(class='form-control', placeholder='设备价格') }}
                                    {{ macros.print_form_messages(form.errors.equipprice) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">备注</label>

                                <div class="col-md-6">
                                    {{ form.remarks(class='form-control', placeholder='备注') }}
                                    {{ macros.print_form_messages(form.errors.remarks) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label"></label>

                                <div class="col-md-6">
                                    {{ form.submit(class='btn btn-info') }}
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- panel-body -->
                </div>
                <!-- panel -->
            </div>
            <!-- col -->
        </div>
        <!-- End row -->


    </div>
    <!-- Page Content Ends -->
    <!-- ================== -->
{% endblock page_content %}

{% block scripts %}

    {{ super() }}
    <script src="{{ url_for("static", filename="assets/tagsinput/jquery.tagsinput.min.js") }}"></script>
    <script src="{{ url_for("static", filename="assets/toggles/toggles.min.js") }}"></script>
    <script src="{{ url_for("static", filename="assets/timepicker/bootstrap-timepicker.min.js") }}"></script>
    <script src="{{ url_for("static", filename="assets/timepicker/bootstrap-datepicker.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="assets/colorpicker/bootstrap-colorpicker.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename="assets/jquery-multi-select/jquery.multi-select.js") }}"></script>
    <script type="text/javascript"
            src="{{ url_for("static", filename="assets/jquery-multi-select/jquery.quicksearch.js") }}"></script>
    <script src="{{ url_for("static", filename="assets/bootstrap-inputmask/bootstrap-inputmask.min.js") }}"
            type="text/javascript"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="assets/spinner/spinner.min.js") }}"></script>
    <script src="{{ url_for("static", filename="assets/select2/select2.min.js") }}" type="text/javascript"></script>



    <script>
        jQuery(document).ready(function () {

            // Tags Input
            jQuery('#tags').tagsInput({width: 'auto'});

            // Form Toggles
            jQuery('.toggle').toggles({on: true});

            // Date Picker
            jQuery('#datepicker').datepicker('option', 'dateFormat', 'yy-mm-dd');


            //colorpicker start

            $('.colorpicker-default').colorpicker({
                format: 'hex'
            });
            $('.colorpicker-rgba').colorpicker();


            //multiselect start

            $('#my_multi_select1').multiSelect();
            $('#my_multi_select2').multiSelect({
                selectableOptgroup: true
            });

            $('#my_multi_select3').multiSelect({
                selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
                selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
                afterInit: function (ms) {
                    var that = this,
                            $selectableSearch = that.$selectableUl.prev(),
                            $selectionSearch = that.$selectionUl.prev(),
                            selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                            selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                            .on('keydown', function (e) {
                                if (e.which === 40) {
                                    that.$selectableUl.focus();
                                    return false;
                                }
                            });

                    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                            .on('keydown', function (e) {
                                if (e.which == 40) {
                                    that.$selectionUl.focus();
                                    return false;
                                }
                            });
                },
                afterSelect: function () {
                    this.qs1.cache();
                    this.qs2.cache();
                },
                afterDeselect: function () {
                    this.qs1.cache();
                    this.qs2.cache();
                }
            });

            //spinner start
            $('#spinner1').spinner();
            $('#spinner2').spinner({disabled: true});
            $('#spinner3').spinner({value: 0, min: 0, max: 10});
            $('#spinner4').spinner({value: 0, step: 5, min: 0, max: 200});
            //spinner end

            // Select2
            jQuery(".select2").select2({
                width: '100%'
            });
        });
    </script>

{% endblock scripts %}